/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.leftbar
{
    position: absolute;
    height: 100%;
    width: 10%;
    top: 0;
    left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: black;
    z-index: 10;
    border-right: 1px solid white;
}

.leftbar-hidden{ height: 9%; }

.leftbar-core
{
    height: 91%;
    width: 60%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.leftbar-link
{
    height: 10%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.link
{
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
}

.link-description
{
    overflow-wrap: break-word;
    text-align: center;
}

.link-bar
{
    height: 3px;
    width: 0;
    background: white;
}

.link:hover + .link-bar
{ 
    width: 30px; 
    -webkit-animation: link-groth 0.25s linear; 
            animation: link-groth 0.25s linear;
    --glow-color: rgb(255, 255, 255, 0.8);
    --glow-spread-color: rgba(202, 202, 202, 0.781);
    outline: none;
    -webkit-box-shadow: 
    0 0 0.25em 0.05em var(--glow-color), 
    0 0 0em 0em var(--glow-spread-color),
    inset 0em -2px 0.5em 0em var(--glow-color);
            box-shadow: 
    0 0 0.25em 0.05em var(--glow-color), 
    0 0 0em 0em var(--glow-spread-color),
    inset 0em -2px 0.5em 0em var(--glow-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.social-link
{
    width: 40%;
    height: 20%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}