/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.leftbar
{
    position: absolute;
    height: 100%;
    width: 10%;
    top: 0;
    left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: black;
    z-index: 10;
    border-right: 1px solid white;
}

.leftbar-hidden{ height: 9%; }

.leftbar-core
{
    height: 91%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.leftbar-link
{
    height: 10%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.link
{
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
}

.link-bar
{
    height: 3px;
    width: 0;
    background: white;
}

.link:hover + .link-bar
{ 
    width: 30px; 
    -webkit-animation: link-groth 0.25s linear; 
            animation: link-groth 0.25s linear;
}

.social-link
{
    width: 40%;
    height: 20%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}