/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.mobile-navbar-base-core
{
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    background: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    z-index: 999;
}

.mobile-navbar-svg
{
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.mobile-navbar-card
{
    position: relative;
    height: 90%;
    width: 20%;
    overflow: hidden;
    -webkit-transition: 0.25s cubic-bezier(0.2, 0.64, 0.48, 1.12) all;
    -o-transition: 0.25s cubic-bezier(0.2, 0.64, 0.48, 1.12) all;
    transition: 0.25s cubic-bezier(0.2, 0.64, 0.48, 1.12) all;
    -webkit-transition-delay: 0.25s;
         -o-transition-delay: 0.25s;
            transition-delay: 0.25s;
}

.mobile-navbar-link
{
    height: calc(100vw / 11);
    width: calc(100vw / 11);
    background: white;
    z-index: 10;
    border-radius: 50%;
}

.mobile-navbar-icon
{
    position: relative;
    height: 70%;
    width: 50%;
    color: black;
    display: block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
    -o-object-fit: contain;
       object-fit: contain;
}



#current
{
    position: relative;
    -webkit-transform: translatey(-65%);
        -ms-transform: translatey(-65%);
            transform: translatey(-65%);
    border-radius: 50%;
    z-index: 2;
    overflow: visible;
    -webkit-animation: translatey 0.25s cubic-bezier(0.2, 0.64, 0.48, 1.12);
            animation: translatey 0.25s cubic-bezier(0.2, 0.64, 0.48, 1.12);
    
}

.mobile-navbar-card-outer
{
    position: absolute;
    -webkit-animation: translate 0.25s cubic-bezier(0.2, 0.64, 0.48, 1.12);
            animation: translate 0.25s cubic-bezier(0.2, 0.64, 0.48, 1.12);
    -webkit-transform: translateX(var(--currentposition));
        -ms-transform: translateX(var(--currentposition));
            transform: translateX(var(--currentposition));
    height: auto;
    width: 25%;
    top: -1px;
    left: 0;
    -webkit-transition-delay: 0.25s;
         -o-transition-delay: 0.25s;
            transition-delay: 0.25s;
}

#current-outer
{
    visibility: visible;
    -webkit-transform: translate();
        -ms-transform: translate();
            transform: translate();
    -webkit-transition: 0.25s cubic-bezier(0.2, 0.64, 0.48, 1.12) all;
    -o-transition: 0.25s cubic-bezier(0.2, 0.64, 0.48, 1.12) all;
    transition: 0.25s cubic-bezier(0.2, 0.64, 0.48, 1.12) all;
    -webkit-animation: translate 0.25s cubic-bezier(0.2, 0.64, 0.48, 1.12);
            animation: translate 0.25s cubic-bezier(0.2, 0.64, 0.48, 1.12);
}

@-webkit-keyframes translate 
{
    0% { -webkit-transform: translateX(var(--oldposition)) translatey(-45%); transform: translateX(var(--oldposition)) translatey(-45%); }
    100% { -webkit-transform: translateX(var(--currentposition)) translatey(-45%); transform: translateX(var(--currentposition)) translatey(-45%); }
}

@keyframes translate 
{
    0% { -webkit-transform: translateX(var(--oldposition)) translatey(-45%); transform: translateX(var(--oldposition)) translatey(-45%); }
    100% { -webkit-transform: translateX(var(--currentposition)) translatey(-45%); transform: translateX(var(--currentposition)) translatey(-45%); }
}

@-webkit-keyframes translatey 
{
    0% { -webkit-transform: translatey(0); transform: translatey(0); }
    100% { -webkit-transform: translatey(-65%); transform: translatey(-65%); }
}

@keyframes translatey 
{
    0% { -webkit-transform: translatey(0); transform: translatey(0); }
    100% { -webkit-transform: translatey(-65%); transform: translatey(-65%); }
}