.dashboard-personnal-card-core
{
    width: 70%;
    height: 80%;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 0px 50px;
    overflow-x: auto;
}

.dashboard-personnal-cards
{
    height: 40%;
    width: 95%;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 25px;
    overflow-x: auto;
}

.dashboard-personnal-cards::-webkit-scrollbar { display: none; }

.personnal-cards
{
    position: relative;
    flex: 1 0 20%;
    height: 60%;
    max-width: 20%;
    background: black;
    border: 2px solid white;
    border-radius: 22px;
    z-index: 15;
}

.personnal-video
{
    position: relative;
    z-index: 14;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 22px;
}

.personnal-cards-locked
{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 22px;
    backdrop-filter: blur(10px);
    z-index: 14;
}

.personnal-cards-title-locked
{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
}

.dashboard-personnal-info
{
    height: 40%;
    width: 95%;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 25px;
}

.personnal-info-cards
{
    height: 90%;
    width: 40%;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.info-cards
{
    height: 45%;
    width: 100%;
    border: 2px solid white;
    border-radius: 22px;
    background: black;
}

.info-title, .info-text
{
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
}
