/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.dashboard-button
{
    width: 80%;
    height: 20%;
    margin-left: 15%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.dashboard-button-core
{
    width: 30%;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.button-dash
{
    color: white;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
}



.button-protocol
{
    height: 30%;
    width: 40%;
    border: 0;
    background: rgba(0,0,0,0.0);
    border-left: 2px solid rgba(255,26,136,.8);
    border-right: 2px solid #0085ff;
    background-image: -webkit-gradient(linear,left top, right top,from(#ff1a88),to(#0085ff)),-webkit-gradient(linear,left top, right top,from(#ff1a88),to(#0085ff));
    background-image: -o-linear-gradient(left,#ff1a88,#0085ff),-o-linear-gradient(left,#ff1a88,#0085ff);
    background-image: linear-gradient(90deg,#ff1a88,#0085ff),linear-gradient(90deg,#ff1a88,#0085ff);
    background-size: 100% 2px;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    font-size: 18px;
}

.button-personnal
{
    height: 30%;
    width: 40%;
    border: 0px ;
    background: rgba(0,0,0,0.0) ;
    border: 0;
    border-left: 3px solid rgb(1, 194, 222) ;
    border-right: 3px solid rgba(243, 255, 254, 0.8) ;
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(1, 194, 222)), to(rgb(243, 255, 254))),-webkit-gradient(linear, left top, right top, from(rgb(1, 194, 222)), to(#F3FFFE)) ;
    background-image: -o-linear-gradient(left, rgb(1, 194, 222), rgb(243, 255, 254)),-o-linear-gradient(left, rgb(1, 194, 222), #F3FFFE) ;
    background-image: linear-gradient(90deg, rgb(1, 194, 222), rgb(243, 255, 254)),linear-gradient(90deg, rgb(1, 194, 222), #F3FFFE) ;
    background-size: 100% 2px ;
    background-position: 0 0, 0 100% ;
    background-repeat: no-repeat ;
    border-radius: 10px ;
    font-size: 18px;
}

.button-dash:hover
{
    -webkit-transform: scale(0.95, 0.95);
        -ms-transform: scale(0.95, 0.95);
            transform: scale(0.95, 0.95);
}