/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.swap-core-base
{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70%;
    width: 70%;
}

.swap-title-core
{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 10%;
    width: 70%;
}

.swap-title
{
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    font-style: normal;
}

.swap-description
{
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    color: #ababab;
}


.swap-core
{
    height: 100%;
    width: 40%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.swap-content-core
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.card-core
{
    height: 30%;
    width: 80%;
}


.card-content 
{
    height: 30%;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.card-title-core
{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
    height: 100%;
    margin-left: 3%;
    gap: 0.5em
}

.card-logo
{
    height: 50%;
    width: auto;
}

.card-title
{
    font-size: 24px;
    font-weight: 800;
}

.card-balance
{
    height: 100%;
    width: 60%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.card-balance-text
{
    height: auto;
    width: auto;
    color: #ababab;
    margin-right: 10%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    font-weight: 400;
}


.card-input-core
{
    position: relative;
    height: 65%;
    width: 100%;
    font-size: 25px;
    font-weight: 800;
}



.card-input
{
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 22px;
    background: transparent;
    color: white;
    font-size: 35px;
    text-align: center;
}

.card-max
{
    position: absolute;
    top: 80%;
    right: 75%;
    font-weight: 800;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 0;
    font-size: 20px;
    background: -webkit-linear-gradient(45deg, #3300FF, #00C2FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.card-swap-core
{
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 10%;
    width: 80%;
}

.card-swap-button
{
    height: 60%;
    width: auto;
    border: 0;
}

.card-swap-arrow
{
    height: 100%;
    width: auto;
}

.swap-button-core
{
    height: 15%;
    width: 100%;
}
.swap-button
{
    height: 70%;
    width: 45%;
    border: 0px !important;
    background: rgba(0,0,0,0.0) !important;
    border: 0;
    border-right: 2px solid rgb(0, 133, 255) !important;
    border-left: 2px solid rgba(255, 26, 136, 0.8) !important;
    background-image: 
    -webkit-gradient(linear, left top, right top, from(#ff1a88), to(#0085FF)),
    -webkit-gradient(linear, left top, right top, from(#ff1a88), to(#0085FF)) !important;
    background-image: 
    -o-linear-gradient(left, #ff1a88, #0085FF),
    -o-linear-gradient(left, #ff1a88, #0085FF) !important;
    background-image: 
    linear-gradient(90deg, #ff1a88, #0085FF),
    linear-gradient(90deg, #ff1a88, #0085FF) !important;
    background-size: 100% 2px !important;
    background-position: 0 0, 0 100% !important;
    background-repeat: no-repeat !important;
    border-radius: 14px !important;
}

.swap-design
{
    height: 100%;
    width: 50%;
}

.swap-video
{
    height: 90%;
    width: auto;
}