@media only screen and (max-width: 1500px) and (orientation: landscape) 
{
    #root 
    {
        transform: rotate(-90deg);
        transform-origin: left top;
        position: absolute;
        overflow: hidden;
        height: 100vw;
        width: 50vw;
        top: 100%;
        left: 0;
    }
}