/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#root
{
  height: 100vh;
  width: 100%;
  background: black;
  color: white;
  
}

.home 
{
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100vh;
  width: 100%;
  top: 0;
  background: black;
  overflow: hidden;
}

.home-body 
{
  position: relative;
  z-index: 9;
  height: 90%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: scale-up-center  0.25s cubic-bezier(0.390, 0.575, 1, 1.000) both;
    animation: scale-up-center  0.25s cubic-bezier(0.390, 0.575, 1, 1.000) both;
}

.home-core
{
  height: 50%;
  width: 37%;
  margin-bottom: 10%;
}

.home-title
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 900 !important;
  text-transform: uppercase;
  text-align: center;
} 

.title-small { font-size: 68px !important; }
.title-big { font-size: 95px !important; }
.home-button { width: 100%; }

.button-input
{
  width: 20%;
  background: -o-linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
  background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
  border-radius: 10px !important;
}

.home-ellipse
{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; 
  z-index: 8;
  overflow: hidden;
}

.ellipse
{
  border: 1px solid rgba(125, 125, 125, 0.25);
  border-radius: 50%;
  -webkit-transform: rotate(14.21deg);
      -ms-transform: rotate(14.21deg);
          transform: rotate(14.21deg);
  margin-right: 8%;
  margin-bottom: 5%;
}

.l1
{
  height: 50%;
  width: 60%;
}

.l2
{
  height: 70%;
  width: 80%;
}

.l3
{
  height: 90%;
  width: 100%;
}


.home-sphere
{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; 
  z-index: 8;
  overflow: hidden;
}

.sphere-img
{
  height: 100%;
  width: 100%;
}