/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media only screen and (max-width: 1200px), only screen and (max-width: 1200px) and (max-height: 1200px) and (orientation: landscape) 
{
    .dashboard-personnal-card-core
    {
        height: 90%;
        width: 100%;
        margin: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }   

    .button-protocol, .button-personnal
    {
        background: black;
        border-radius: 10px;
    }

    #currentDashboard
    {
        border-radius: 10px;
    }

    .dashboard-personnal-cards
    {
        padding-left: 1em;
        padding-right: 1em;
        box-sizing: border-box;
        width: 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-padding: 24px;
    }
   
    
    .personnal-cards
    {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: none;
        scroll-snap-align: start;
    }

    .dashboard-personnal-info
    {
        height: 55%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    }

    .personnal-info-cards 
    { 
        -ms-flex-pack: distribute; 
            justify-content: space-around; 
        height: 40%;
        width: 45%;
    }
    .info-title, .info-text
    {
        height: 20%;
        margin: 0;
        margin-left: 0.5em;
        font-size: 14px;
    }

    .info-cards { height: 70%; border: 1px solid white; }
}

@media only screen and (max-width: 1000px) and (min-width: 660px) , only screen and (max-width: 1000px) and (min-width: 660px) and (max-height: 1000px) and (min-height: 660px) and (orientation: landscape) 
{
    .info-title, .info-text { font-size: 16px; }
    .button-dash 
    {
        height: 40px;
        width: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-radius: 6px;
    }

    .dashboard-button-logo {
        height: 50%;
        width: 50%;
        -o-object-fit: contain;
           object-fit: contain;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1001px) , only screen and (max-width: 1200px) and (min-width: 1001px) and (max-height: 1200px) and (min-height: 1001px) and (orientation: landscape) 
{
   
    .info-title, .info-text { font-size: 20px; }
    .button-dash 
    {
        height: 60px;
        width: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-radius: 6px;
    }

    .dashboard-button-logo {
        height: 50%;
        width: 50%;
        -o-object-fit: contain;
           object-fit: contain;
    }
    
}