@media only screen and (max-width: 375px), only screen and (max-width: 375px) and (max-height: 375px) and (orientation: landscape) 
{
    .mobile-navbar-card-outer { transform: translateX(var(--currentposition)) translatey(-25%); }
    #current { transform: translatey(-40%); }
    .mobile-navbar-link 
    {
        height: 40px;
        width: 40px;
    }

    @keyframes translate 
    {
        0% { transform: translateX(var(--oldposition)) translatey(-25%); }
        100% { transform: translateX(var(--currentposition)) translatey(-25%); }
    }

    @keyframes translatey 
    {
        0% { transform: translatey(0); }
        100% { transform: translatey(-40%); }
    }
}

@media only screen and (max-width: 480px) and (min-width: 376px) , only screen and (max-width: 480px) and (min-width: 376px) and (max-height: 480px) and (min-height: 376px) and (orientation: landscape)
{
    .mobile-navbar-card-outer { transform: translateX(var(--currentposition)) translatey(-30%); }
    #current { transform: translatey(-55%); }
    .mobile-navbar-link 
    {
        height: 50px;
        width: 50px;
    }

    @keyframes translate 
    {
        0% { transform: translateX(var(--oldposition)) translatey(-30%); }
        100% { transform: translateX(var(--currentposition)) translatey(-30%); }
    }

    @keyframes translatey 
    {
        0% { transform: translatey(0); }
        100% { transform: translatey(-55%); }
    }
}


@media only screen and (max-width: 660px) and (min-width: 481px) , only screen and (max-width: 660px) and (min-width: 481px) and (max-height: 660px) and (min-height: 481px) and (orientation: landscape)
{
    .mobile-navbar-card-outer { transform: translateX(var(--currentposition)) translatey(-25%); }
    #current { transform: translatey(-55%); }
    .mobile-navbar-link 
    {
        height: 55px;
        width: 55px;
    }

    @keyframes translate 
    {
        0% { transform: translateX(var(--oldposition)) translatey(-25%); }
        100% { transform: translateX(var(--currentposition)) translatey(-25%); }
    }

    @keyframes translatey 
    {
        0% { transform: translatey(0); }
        100% { transform: translatey(-55%); }
    }
}


@media only screen and (max-width: 1000px) and (min-width: 661px) , only screen and (max-width: 1000px) and (min-width: 661px) and (max-height: 1000px) and (min-height: 661px) and (orientation: landscape)
{
    .mobile-navbar-card-outer { transform: translateX(var(--currentposition)) translatey(-15%); }
    #current { transform: translatey(-55%); }
    .mobile-navbar-link 
    {
        height: 70px;
        width: 70px;
    }

    @keyframes translate 
    {
        0% { transform: translateX(var(--oldposition)) translatey(-15%); }
        100% { transform: translateX(var(--currentposition)) translatey(-15%); }
    }

    @keyframes translatey 
    {
        0% { transform: translatey(0); }
        100% { transform: translatey(-55%); }
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1001px) , only screen and (max-width: 1500px) and (min-width: 1001px) and (max-height: 1500px) and (min-height: 1001px) and (orientation: landscape)
{
    .mobile-navbar-card-outer { transform: translateX(var(--currentposition)) translatey(-35%); }
    #current { transform: translatey(-55%); }
    .mobile-navbar-link 
    {
        height: 80px;
        width: 80px;
    }

    @keyframes translate 
    {
        0% { transform: translateX(var(--oldposition)) translatey(-35%); }
        100% { transform: translateX(var(--currentposition)) translatey(-35%); }
    }

    @keyframes translatey 
    {
        0% { transform: translatey(0); }
        100% { transform: translatey(-55%); }
    }
}