/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media only screen and (max-width: 1200px), only screen and (max-width: 1200px) and (max-height: 1200px) and (orientation: landscape)  
{
    .swap-core-base
    {
        width: 95%;
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .swap-core
    {
        height: 60%;    
        width: 100%;
    }
    .swap-design 
    {
        height: 25%;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;

    }

    .swap-content-core { height: 100%; }
    .card-core { height: 40%; width: 70%; }
    .card-title
    {
        font-size: 14px;
        margin: 0;
    }
    .card-balance-text { font-size: 12px; }
    .card-input-core { height: 65%; }
    .card-input 
    { 
        height: 90%; 
        border: 1px solid white;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 500;
    }
    .card-max 
    {
        font-size: 14px;
        top: 75%;
        right: 75%;
    }
    .swap-button
    {
        width: 30%;
        font-size: 14px;
        border-radius: 8px !important;
    }

    .swap-button-mint 
    { 
        border-radius: 8px !important; 
        height: 35px;
        width: 30%;
        font-size: 14px;
    }
}
@media only screen and (max-width: 1000px) and (min-width: 660px) , only screen and (max-width: 1000px) and (min-width: 660px) and (max-height: 1000px) and (min-height: 660px) and (orientation: landscape)
{

    .card-title, .card-input, .card-max, .swap-button { font-size: 16px; }
    .swap-button-mint 
    { 
        border-radius: 8px !important; 
        height: 50px;
        width: 125px;
        font-size: 16px; 
    }
    .card-balance-text { font-size: 14px; }
}
@media only screen and (max-width: 1200px) and (min-width: 1001px) , only screen and (max-width: 1200px) and (min-width: 1001px) and (max-height: 1200px) and (min-height: 1001px) and (orientation: landscape) 
{
    .card-title, .card-input, .card-max, .swap-button, .swap-button-mint  { font-size: 18px; }
    .card-balance-text { font-size: 16px; }
    .swap-button-mint 
    { 
        border-radius: 8px !important; 
        height: 35px;
        width: 150px;
    }
}