@font-face {
  font-family: "inter-Regular";
  src: local("inter-Regular"),
   url(../assets/font/Inter-Regular.ttf) format("truetype");
}


body 
{
    margin: 0;
    font-family: 'inter-Regular';
}



.flex { display: flex; }
.row { flex-direction: row; }
.column { flex-direction: column; }
.center { justify-content: center; align-items: center; }
.h1 { margin: 0; }
button
{
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: white;
}